h6{
    padding: 0;
}
/*font/body*/
@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}

@font-face {
    font-family: PatrickHand;
    src: url(../font/PatrickHand-Regular.ttf);
}


.wrapper {
    max-width: 75%;
    margin: 0 auto;
}

body {
    background-image: linear-gradient(#00FFFF, #EADDCA);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

/*        */
/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10%;
    background-color: #24252a;
}
.firstLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.firstLeft h2{
    font-family: Pacifico;
    color: #B0CFE0;
    letter-spacing: 1px;
}
.firstLeft img{
    width: 100%;
    max-height: 50px;
    padding-right: 20px;
}
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  

/*   Eind navbar     */
.containers img{
    width:100%; 
    max-height:750px;
}

.containers {
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
    overflow: hidden;
}
.centered {
    display: block;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/*text dec*/
.centered h6 {
  background: rgba(0, 0, 0, 0.623);  
  z-index: 4;
  text-align: center;
  color: #cf1b1b;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}
.centered p {
    background: rgba(0, 0, 0, 0.623);
    width: 100%;
    z-index: 4;
    position: absolute;
    color: #fff;
    font-size: 50px;
    letter-spacing: 8px;
    cursor: pointer;
    text-align: center;
  }


/*einde*/

.indexText .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.indexText .wrapper img{
    height: 500px;
}

/*      */
/* FORM */
/*      */
.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

/* FOOTER */
footer{
    background-color: #626262;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a:hover{
    border-bottom: 2px solid grey;
}

footer .wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: red;
}

.pagesFooter a{
    text-decoration: none;
    color: red;
    padding: 10px;
    color: #33C3FF;
}

.socialsFooter a{
    margin: 5px;
}

.fa-facebook {
    color: #F9FF33;
    text-decoration: none;
}

.fa-twitter {
    color: #F9FF33;
    text-decoration: none;
  }

.fa-instagram {
    color: #33C3FF;
    text-decoration: none;
}

.fa-youtube {
    color: #33C3FF;
    text-decoration: none;
}

#nameFooter{
    color: #F9FF33;
}